.chat-container {
    display: flex;
    height: 100vh;
    background: white;
    border-radius: 10px;
}

.left-container {
    width: 350px;
    height: 100%;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.middle-container {
    flex: auto;
    height: 100%;
}

.right-container {
    width: 320px;
    height: 100%;
}

.info-container {
    margin: 10px;
    padding: 10px;
    height: 98%;
    background-color: #E3F6FC;
    box-shadow: 0px 8px 40px rgba(142, 194, 208, 0.4);
    border-radius: 14px;
    overflow-y: scroll;
    position: relative;
}